body{
    margin: 0;
    padding: 0;
    background-color: darkseagreen;
    overflow: hidden;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}


.container{
    margin: 0 auto;
    height: 100vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    width: 60%;
    height: 90%;
    background-color: black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 100px repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}
.list_input{
    grid-column: 1 / -1;
    height: 100px;
    font-size: 56px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box
}
.list_btn{
    width: 100%;
    height: 100%;
    background-color: dimgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
    border-style: none;
    border-radius: 10px;
    transition-duration: 500ms;
}
.list_btn:hover{
    scale: 1.02;
}
.list_btn:active{
    background-color: gray;
}

