body{
    margin: 0;
    padding: 0;
    background-color: darkseagreen;
    overflow: hidden;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
p{
    color: white;
}

.container{
    margin: 0 auto;
    height: 100vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    width: 100%;
    background-color: black;
    height: 90%;
}
.list_btn{
    width: 25px;
    height: 25px;
    background-color: dimgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    overflow: clip;
}
